<div class="container-fluid">
    <h1 class="text-center fw-bold font_titles pt-3" >Carta</h1>
    <p class="text-center ">Lista de nuestros productos.</p>
    <div class ="contenedor_cards" >
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="assets\Postre-3-leches-con-helado.png" class="cont-img-cards postre" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="\assets\Postre-3-leches-con-helado.png" class="postre cont-img-cards postre" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="\assets\Postre-3-leches-con-helado.png" class="cont-img-cards" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="\assets\Postre-3-leches-con-helado.png" class="cont-img-cards" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="\assets\Postre-3-leches-con-helado.png" class="cont-img-cards" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="\assets\Postre-3-leches-con-helado.png" class="cont-img-cards" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="\assets\Postre-3-leches-con-helado.png" class="cont-img-cards" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        <div  class="contenedor_card"  >
            <div class="d-flex flex-column">
                <div>
                    <div class="box">
                        <img scr="\assets\Postre-3-leches-con-helado.png" class="cont-img-cards" >
                    </div>
                    <h4 class="card-titles text-center" >Tres Leches</h4>
                    <p class="no-space text-center">Popularidad: Alta</p>
                    <p class="no-space text-center">Precio: $3500</p> 
                    <button class="boton" >Comprar</button>                      
                </div>
                
            </div>
        </div>
        
        
        
    </div>

    
</div>
