<div>
    <nav class ="navbar transparent  sticky-top fw-bold bg-trasparent ">
        <div class="container justify-content-center">
            <a class = "navbar-brand " routerLink = "inicio" >
                <img src="\assets\hkLogo.png" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
            <a class="nav-link fw-bold" routerLink = "inicio">Inicio</a>
            <a class="nav-link fw-bold" routerLink = "clientes">Clientes</a>
            <a class="nav-link fw-bold" routerLink = "pasteles">Pasteles</a>

            
        </div>
    </nav>
    <div class="imgLogo container-fluid">   
        
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white fw-bold  ">
                <h1 class="mb-3 center-text">Pasteleria Hello Kitty</h1>
                <h4 class="mb-3 center-text">Postres,Pasteles y mucho mas</h4>
            </div>
        </div>
        
    </div>
    
    
</div>